* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 1.2rem;
}

h3, h4 {
	background: linear-gradient(#B0B0B4, #878593, #B0B0B4);
	margin: 0;
	padding: 10px;
	color: white;
}

.button {
	background-color: #427C62;
	border: 1px solid black;
	border-radius: 10px;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
	display: table;
	margin: 0.5rem auto 2rem;
	box-shadow: 2px 2px 8px black;
}

.clear {
	clear: both;
}

#header .content {
	max-width: 75rem;
	width: 100%;
	display: table;
	margin: 0 auto;
	padding: 1rem;
}

#header .content h1 {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	font-family: "Comic Sans MS", cursive, sans-serif
}


#header .content h2 {
	display: table-cell;
	width: 50%;
	vertical-align: middle;
	text-align: right;
}

.container {
	background: radial-gradient(circle, #1D0D11, #6F5964,#1D0D11);
}

.container > div, #footer .content {
	max-width: 75rem;
	display: table;
	border-spacing: 1rem;
	margin: 0 auto;
	padding: 0 1rem;
	

}

.container #about .photo {
	display: inline-block;
	width: 40%;
	margin: 1rem 1rem 0 0;

}

.container #about .photo img {
	width: 100%;
	border: 5px solid #C0C0C0;
}

.container #about .desc {
	display: inline-block;
	width: 56%;
	vertical-align: top;
	margin-top: 1rem;
	background: linear-gradient(to right, #fff, #DBCCDA);
	min-height: 312px;
	margin-left: 4px;
}

.container #about .desc p {
	padding: 0 1rem;
}

#featured .port-item:nth-child(2) {
	margin: 1rem 0.86rem 0;
}

#featured .port-item {
	display: table-cell;
	width: 33%;
	vertical-align: top;
	margin: 1rem 0;
	background: linear-gradient(to right, #fff,  #DBCCDA);
}



#featured .port-item img {
	width: 100%;
}

#featured .port-item p {
	padding: 0 0.5rem;
	text-align: justify;
}

#featured .port-item p {
	margin: 0;
}

#featured .port-item p:first-of-type {
	min-height: 200px;
	margin: 0.5rem 0.5rem 0;
	text-align: justify;
	font-size: 1.1rem;
}

#featured .port-item .tech {
	padding: 0.5rem;
	
}

#featured .port-item .tech img {
	width: 18%;
	padding: 0.2rem;
}

#footer ul {
	text-align: center;
	padding: 0;
}

#footer .social img {
	width: 20px;
    height: 20px;
    margin-right: 3px;
    margin-left: 5px;
    vertical-align: middle;
}

#footer ul li {
	display: inline-block;
}

#footer .contact li {
	padding: 0 2px;
}

#footer .contact li a {
	text-decoration: none;
}

#footer .contact li:first-child {
	border-right: 1px solid black;
	padding-right: 5px;
}

#footer a {
	color: #000;
}


@media screen and (max-width: 1023px) {
	

	#header .content h1 {
		width: 25%;
	}

	#header .content h2 {
		width: 75%;

	}

	.container > div, #footer .content {
		display: block;
		margin-top: 1rem;
	}

	#featured .port-item, #featured .port-item:nth-child(2) {
		display: inline-block;
		width: 46%;
		margin: 0.5rem;
	}
}

@media screen and (max-width: 845px) {
	body {
		font-size: 1.1rem;
	}

	#header .content h1 {
		font-size: 1.5rem;
	}

	#header .content h2 {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 768px) {
	.container #about .photo, .container #about .desc {
		display: block;
		width: 100%;
		max-width: 100%;
		margin: 0;
		padding: 1rem 0;
	}

	.container #about .desc {
		padding-top: 0;
	}

	.port-item h4, .port-item p.tech {
		display: none;
	}
}

@media screen and (max-width: 545px) {
	#header .content h1 {
		font-size: 1.3rem;
	}

	#header .content h2 {
		font-size: 1.1rem;
	}

	#featured .port-item, #featured .port-item:nth-child(2) {
		width: 100%;
		display: block;
		margin: 0;
	}

	#featured .port-item:nth-child(2) {
		margin: 1rem 0;
	}

	#featured .port-item p:last-child {
		padding-bottom: 1rem;
	}
}

@media screen and (max-width: 480px) {
	#header .content h1, #header .content h2 {
		display: block;
		width: 100%;
		text-align: center;
	}

	#footer ul li {
		font-size: 1rem;
	}

}
